<div class="dashboard">



    <div class="mais-pedidos">

        <div class="title">

            <h3 class="maish3"> Serviços mais pedidos</h3> 

            <p>Precisa de um profissional confiável? Estes são os serviços mais solicitados para facilitar o seu dia a dia:</p>

        </div>

        <div class="eletricista">

            <div class="img">

                <img class="imgteste" src="img/curto-circuito.png" alt="circuito">

            </div>

            <div class="ele-content">
                <h3>Eletricista</h3>

                <p>Precisa de um eletricista para sua casa? Conte com um profissional qualificado para garantir segurança e eficiência na instalação, manutenção e reparo da parte elétrica.</p>
                <a href="">Pedir Orçamento</a>

            </div>
            
        </div>

        <div class="pedreiro">

            <div class="img">

                <img src="img/tijolo.png" alt="circuito">

            </div>

            <div class="ele-content">
                <h3>Pedreiro</h3>

                <p>Construção e reparos com qualidade e segurança! Um pedreiro profissional realiza desde pequenos consertos até grandes reformas.</p>
                <a href="">Pedir Orçamento</a>

            </div>
            
        </div>

        <div class="pedreiro">

            <div class="img">

                <img src="img/rolo-de-pintura.png" alt="circuito">

            </div>

            <div class="ele-content">
                <h3>Pintor</h3>

                <p>Renove seu ambiente com um acabamento impecável! Um pintor profissional garante qualidade e durabilidade na pintura da sua casa ou empresa.</p>
                <a href="">Pedir Orçamento</a>

            </div>
            
        </div>

        <div class="pedreiro">

            <div class="img">

                <img src="img/chaveiro.png" alt="circuito">

            </div>

            <div class="ele-content">
                <h3>Chaveiro</h3>

                <p>Segurança e praticidade para sua casa, empresa ou veículo! Um chaveiro profissional resolve problemas com rapidez e eficiência.</p>
                <a href="">Pedir Orçamento</a>

            </div>
            
        </div>

    </div>


    <div class="formas-pagamento">

        <div class="title-formas">

            <h3 class="maish3">Paguamento pelo APP</h3>

        </div>

        <div class="pagamento-content">

            <p>Facilitamos o seu pagamento! Pague direto pelo nosso app de forma rápida, segura e sem complicação. Escolha o serviço, contrate e finalize o pagamento tudo em um só lugar!</p>

            <p class="pag-p"> <img src="img/icons8-foto-80.png" alt=""> <br>Pague no Pix</p>
            <p class="pag-p"><img src="img/sem-contato.png" alt=""><br> Pague no Crédito</p>

        </div>

    </div>
    
</div>