
.dashboard{
    display: flex;
    width: 100%;
}
.title{
    background-image: -webkit-linear-gradient(
        233deg,
        #1c249637,
        #1c41961e
    );
    padding: 13px;
    font-size: 1.3vw;
    text-align: center;
    border-radius: 3px;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.607);

}
.mais-pedidos{
    display: grid;
    grid-template-columns: 410px 410px;
    width: 100%;
    gap: 13px;
    margin: 13px;
    width: 67%;
    border-radius: 23px;
}
.maish3{
    background-image: -webkit-linear-gradient(
        233deg,
        #1c2496,
        #1c2496,
        lightgreen
    );
    background-clip: text;
    color: transparent;
    text-align: center;
    margin: 13px;
}
.eletricista{
    width: 100%;
    display: flex;
    padding: 13px;
    justify-content: space-around;
    align-items: center;
    border-top-right-radius: 33px;
    border-bottom-right-radius: 33px;
    box-shadow: 
    inset .1em .1em .2em rgba(15, 3, 65, 0.203),
    inset -.1em -.1em .2em rgba(15, 3, 65, 0.288);
}
.eletricista a{
    text-decoration: none;
}

.pedreiro{
    width: 100%;
    display: flex;
    padding: 13px;
    justify-content: space-around;
    align-items: center;
    border-top-right-radius: 33px;
    border-bottom-right-radius: 33px;
    box-shadow: 
    inset .1em .1em .2em rgba(15, 3, 65, 0.203),
    inset -.1em -.1em .2em rgba(15, 3, 65, 0.288);

}
.eletricista:hover{
    background-image: -webkit-linear-gradient(
        233deg,
        #1c24963e,
        #1c24963f,
        rgba(144, 238, 144, 0.352)
    );
}
.pedreiro:hover{
    background-image: -webkit-linear-gradient(
        233deg,
        #1c24963e,
        #1c24963f,
        rgba(144, 238, 144, 0.352)
    );
}
.pedreiro a{
    text-decoration: none;
}
.ele-content{
    display: flex;
    flex-direction: column;
    width: 89px;
    font-size: .99vw;
    letter-spacing: .5px;
    text-wrap: wrap;
    width: 100%;
    height: 100%;
    justify-content:space-around;
    text-align: center;
    margin-bottom: 3px;
}
.ele-content p{
    margin-bottom: 13px;

}
.ele-content h3{
    margin-bottom: 3px;
    color: #060d719a;
}
.pedreiro img{
    height: 6vw;
    position: absolute;
    animation: move 3.3s infinite alternate forwards ease-in-out;
}
.eletricista img{
    height: 6vw;
    position: absolute;
    animation: move 3.3s infinite alternate forwards ease-in-out;

}

@keyframes move {
    0%{
        top: 0;
    }
    50%{
        top: 7%;

    }
    100%{
        top: 0;
    }
}
.img{
    height: 7vw;
    margin-right: 3px;
    width: 10vw;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 
    inset .1em .1em .5em rgba(3, 57, 98, 0.103);
    border-radius: 50%;
}
@media screen and (max-width: 480px){
    .dashboard{
        flex-direction: column;
    }

    .mais-pedidos{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        grid-template-columns: none;
        width: 89%;
    }

    .title{
        height: 50vw;
        font-size: 4vw;
    }
    .eletricista{
        height: 100vw;
        flex-direction: column;
        border-radius: 33px;
    }
    .eletricista img{
        height: 25vw;   
    }

    .pedreiro{
        height: 100vw;
        flex-direction: column;
        border-radius: 33px;
    }
    .pedreiro img{
        height: 25vw;   
    }
    .ele-content{
        font-size: 5vw;
        margin-top: 72px;
    }

}