
.historico{
    display: grid;
    grid-template-columns: 333px 333px 333px;
    margin: auto;
    justify-content: space-around;
    overflow-x: hidden;
}
.pedido-info{
    background-image:-webkit-linear-gradient(
        233deg,
        rgba(10, 15, 78, 0.224),
        rgba(13, 126, 164, 0.409)
    );
    height: 22vw;
    padding: 13px;
    margin: 13px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    border-radius: 33px;
    box-shadow: 0px 0px 22px rgba(0, 0, 0, 0.468),
    inset .5em .5em 1em rgba(1, 7, 44, 0.475),
    inset -.5em -.5em 1em rgba(8, 14, 188, 0.573);
}
.pedido-info p{
    color: rgba(9, 14, 67, 0.927);
}
.pedido-info button{
    width: 10vw;
    height: 3vw;
    margin: 13px auto;
    border-radius: 33px;
    border: none;
}