<header>
    <!-- ====================================================== USER -->
    <div class="user-image">
      <img src="img/Imagem do WhatsApp de 2025-02-04 à(s) 18.54.13_3faa34fa.jpg" alt="img-user">
  </div>

  <div class="user-ola">
      <p>Bem vindo</p>
      <h3 id="nameUser">usuario</h3>
  </div>

  <div class="menu">
      <button class="mobileBtn" onclick=" toggleMenu()"><img src="img/icons8-cardápio-48.png" alt=""></button>
      <p>Menu</p>

  </div>

  <!-- ====================================================== USER fim -->

<nav class="header-content hidden "  id="menu">


  <!-- ====================================================== Lista de serviços header -->

  <div class="serviços">
      <li id="instalação" class="li-instalacao" >Instalação

          <div id="subMenu-instalação" class="subMenu-instalação hidden" >
              <a href="">Instalação de Eletrônicos</a>
              <a href="">Instalador de TV Digital</a>
              <a href="">Segurança Eletrônica</a>
          </div>

      </li>
  
      <li id="reformas" class=" li-reparos"> Reformas e Reparo


          <div id="subMenu-reparos" class="subMenu-reparos hidden">

              <a href="">Encanador</a>
              <a href="">Eletricista</a>
              <a href="">Gás</a>
              <a href="">Gesso e Drywall</a>            
              <a href="">Pavimentação</a>            
              <a href="">Pintor</a>           
              <a href="">Serralheria e Solda</a>
              
          </div>

      </li>

      <li id="gerais"  class=" li-gerais" >Serviços gerais
          <div id="subMenu-gerais" class="subMenu-gerais hidden">
              <a href="">Chaveiro</a>
              <a href="">Detetizador</a>
              <a href="">Desentupidor</a>
              <a href="">Desinfecção</a>
              <a href="">Impermeabilizador</a>
              <a href="">Marceneiro</a>
              <a href="">Serralheria e Solda</a>
           </div>

      </li>
  </div>
  <!-- ====================================================== Lista de serviços header fim -->



</nav>


</header>